<h1 class="form-title">Edit article</h1>
<div class= "new_edit_form">
<% if @article.errors.any? %>
  <div class="form-errors">
    <h2 class="error-title">The following errors prevented the article from being saved</h2>
    <ul class="error-list">
      <% @article.errors.full_messages.each do |msg| %>
        <li class="error-item"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @article, local: true, html: { class: "article-form" }) do |f| %>
  <p class="form-field">
    <%= f.label :title %><br/>
    <%= f.text_field :title, class: "form-input" %>
  </p> 

  <p class="form-field">
    <%= f.label :description %><br/>
    <%= f.text_area :description, class: "form-textarea" %>
  </p>

  <p class="form-field">
    <%= f.label :image %><br/>
    <%= f.file_field :image, class: "form-file" %>
  </p>

  <p class="form-actions">
    <%= f.submit "Update Article", class: "form-submit" %>
  </p>

  <p class="form-actions">
    <%= link_to 'Back', articles_path, class: "form-link" %>
  </p>

<% end %>